.add-product{
    margin-left: 20%;
}
#html{
    display: block;
    width: 50px;
}
#file{
    border: none;
    width: 250px;
}
#file:focus{
    box-shadow: none;
}
#add-product{
    margin-left: 20%;
    margin-top: 2%;
    /* width: 100%; */
    /* font-size: 13px; */
}
@media (max-width:567px) {
    #add-product{
        margin-left: 0%;
        width: 100%;
    } 
}