.boxes .row div span {
  border: 2px solid blueviolet;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  transition: 0.5s ease-in-out;
}
.boxes .row div span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  width: 0%;
  height: 100%;
  animation-name: rounding;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.boxes .row div span:hover::before {
  width: 100%;
  transition: 0.5s ease-in-out;
}
.boxes .row div span:hover {
  color: #fff;
}
@media (max-width: 567px) {
  .bottom-of-main {
    padding: 0 10%;
  }
}
@media (max-width: 768px) {
  .bottom-of-main {
    padding: 0 10%;
  }
}
@media (max-width: 992px) {
  .bottom-of-main {
    padding: 0 5%;
    /* margin: auto; */
  }
  .boxes span {
    font-size: 12px !important;
    font-weight: bold !important;
  }
}
@media (max-width: 1200px) {
  .bottom-of-main {
    padding: 0 5%;
    /* margin: auto; */
  }}