@media (max-width:567px) {
    .testimonoal{
        padding: 10% !important;
    }
    
}
@media (max-width:768px) {
    .testimonoal{
        padding: 10% !important;
    }
    
}
@media (max-width:992px) {
    .testimonoal{
        padding: 10% !important;
    }
    
}
@media (max-width:1200px) {
    .testimonoal{
        padding: 10% !important;
    }
    
}